extends layout

block extraHeaders
    script(src='/javascripts/parallax.js')
    script(src='/javascripts/slider.js')
    script(src='/javascripts/jquery-1.10.1.min.js')

block content
    section#main(data-speed='6', data-type='background')
        .container
            .row-fluid
                .span12.text-center
                    h1 Personal site by Karabat D.
            .row-fluid
                .span6.text-center
                    h4 Powered by NodeJS, express.js, jade, stylus and bootstrap
                .span6.text-center
                    h4 Adapted from http://untame.net/2013/04/how-to-integrate-simple-parallax-with-twitter-bootstrap/

            .row-fluid 
                .span12.text-center 
                    h3 Credit: Joel Haowen TONG (me [at] joeltong [dot] org)  
                    a(href="https://vk.com/bybey") VK



    section#portfolio(data-speed='8', data-type='background')
        .container
            .row-fluid
                .span12.text-center
                    h1 page 1
                         div.slider
                              ul
                                  li
                                     img(src="i/1.jpg" alt="")
                                  li 
                                     img(src="i/2.jpg" alt="")
                                  li 
                                     img(src="i/3.jpg" alt="")
                                  li 
                                     img(src="i/4.jpg" alt="") 
                                  li 
                                     img(src="i/5.jpg" alt="") 

    section#myworks(data-speed='6', data-type='background')
        .container
            .row-fluid
                .span12.text-left 
                    h1 page 2

    section#about(data-speed='2', data-type='background')
        .container
            .row-fluid
                .span12.text-center
                    h1
                        | Template by jhtong (me [at] joeltong [dot] org)

