extends layout

block extraHeaders
    script(src='/javascripts/paralax.js')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
 //   script(src='/javascripts/jquery.slides.min.js')
  //  script(src='/sl.js')

block content
    section#main(data-speed='6', data-type='background')
        .container
            .row-fluid
                .span12.text-center
                    h1 Personal site by Karabat D.
            .row-fluid
                .span6.text-center
                    h4 Powered by NodeJS, express.js, jade, stylus and bootstrap
                .span6.text-center
                    h4 Adapted from http://untame.net/2013/04/how-to-integrate-simple-parallax-with-twitter-bootstrap/

            .row-fluid 
                .span12.text-center 
                    h3 Credit: Joel Haowen TONG (me [at] joeltong [dot] org)  
                    a(href="https://vk.com/bybey") VK



    section#portfolio(data-speed='8', data-type='background')
            .container
               .slides
                    img(src="img/example-slide-1.jpg" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/")
                    img(src="img/example-slide-2.jpg" alt="Photo by: Daniel Parks Link: http://www.flickr.com/photos/parksdh/5227623068/")
                    img(src="img/example-slide-3.jpg" alt="Photo by: Mike Ranweiler Link: http://www.flickr.com/photos/27874907@N04/4833059991/")
                    img(src="img/example-slide-4.jpg" alt="Photo by: Stuart SeegerLink: http://www.flickr.com/photos/stuseeger/97577796/")


    section#myworks(data-speed='6', data-type='background')
        .container
            .row-fluid
                .span12.text-left 
                    h1 page 2

    section#about(data-speed='2', data-type='background')
        .container
            .row-fluid
                .span12.text-center
                    h1
                        | Template by jhtong (me [at] joeltong [dot] org)

