doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(href='http://fonts.googleapis.com/css?family=Cinzel', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/javascripts/jquery-1.10.1.min.js')
        script(src='/javascripts/plugins.js')
        script(src='/javascripts/analytics.js')
      //  script(src='/javascripts/jquery.slides.min.js')
        script(src='/sl.js')

        block extraHeaders

    body
        .navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner 
                .nav-fonts.brand KARABAT 
                ul.nav#top-nav
                    li
                        a(href='#main').nav-fonts Main
                    li 
                        a(href='#portfolio').nav-fonts Portfolio
                    li 
                        a(href='#myworks').nav-fonts My works
                    li 
                        a(href='#about').nav-fonts About

        
        block content

    script(src='/javascripts/animateScroll.js')
