body {
  font: 14px "Source Sans Pro", "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
  height: 100%;
}
.full-page {
  height: 100%;
}
/* For full page height stretch */
html,
body,
section,
.container {
  height: 100%;
}
img#heroImg {
  width: 400px;
  height: auto;
}
.h1 {
  opacity: 0.7;
}
#main {
  background: url("/images/retina_wood.png") 50% 0 repeat fixed;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0 100px;
  font: 20px 'Cinzel', sans-serif;
}
#portfolio {
  background: url("/images/gridme.png") 50% 0 repeat fixed;
/*background-size: 100%;*/
  height: 100%;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0 100px;
}
#myworks {
/*background: url('/images/binding_dark.png') 50% 0  fixed;*/
  height: 100%;
  margin: 0 auto;
/*opacity: 0.4;*/
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  color: #fff;
}
#about {
  background: url("/images/world-dots.png") 50% 0 repeat fixed;
  height: 100%;
/*background-size: 100%;*/
  margin: 0 auto;
  width: 100%;
  font: 20px 'Source Sans Pro', sans-serif;
  position: relative;
  padding: 100px 0 100px;
}
#contacts {
  background: url("/images/gridme.png") 50% 0 repeat fixed;
/*background-size: 100%;*/
  height: 100%;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0 100px;
}
#slides {
  display: none;
}
#slides.slidesjs-navigation {
  margin-top: 3px;
}
#slides.slidesjs-previous {
  margin-right: 5px;
  float: left;
}
#slides.slidesjs-next {
  margin-right: 5px;
  float: left;
}
.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
}
.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}
.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url("/img/pagination.png");
  background-position: 0 0;
  float: left;
  overflow: hidden;
}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px;
}
.slidesjs-pagination li a:hover {
  background-position: 0 -26px;
}
#slides a:link,
#slides a:visited {
  color: #333;
}
#slides a:hover,
#slides a:active {
  color: #9e2020;
}
.covervid-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bk {
  background: #0078c9; /* Цвет фона */
  padding-top: 100px;
  margin: auto;
  top: 20px;
  width: 90%;
  height: 60%;
  border-radius: 9px;
  background-color: rbga(66, 66, 66, 0.75);
  opacity: 0.7;
}
.fancyInput {
  max-width: 80%;
  min-width: 50%;
  font-size: 60px;
  color: #fff;
  vertical-align: middle;
  line-height: 1.3;
  overflow: hidden;
  text-align: left;
  box-shadow: 0 1px 0 rgba(255,255,255,0.15), 0 2px 4px rgba(0,0,0,0.2) inset, 0 0 12px rgba(255,255,255,0.1);
  padding: 8px 20px;
  background: rgba(0,0,0,0.1);
  border-radius: 10px;
}
.fancyInput.textarea {
  line-height: normal;
  font-size: 40px;
  max-width: 50%;
  min-height: 160px;
  max-height: 40%;
}
.input {
  height: 300px;
}
/*.content*/
/*position:absolute;*/
/*width:50%;*/
/*height:100%; -webkit-transition:.6s cubic-bezier(0.02, 0.6, 0.2, 1);*/
/*transition:.6s cubic-bezier(0.02, 0.6, 0.2, 1);*/
/*.content section*/
/*width:50%;*/
/*height:100%;*/
/*float:left;*/
/*.content section::before*/
/*content:'';*/
/*display:inline-block;*/
/*height:100%;*/
/*vertical-align:middle;*/
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjalla One'), local('FjallaOne-Regular'), url("http://themes.googleusercontent.com/static/fonts/fjallaone/v1/rxxXUYj4oZ6Q5oDJFtEd6hsxEYwM7FgeyaSgU71cLG0.woff") format('woff');
}
